examples/slim_llm/graph.yml
kind: graph
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.0@beafb5a726eda839a1839f61a0456ae7e068c98624c53f59b07be9a71fbf72da
graph:
  nodes:
  - id: start
    data:
      type: start
      title: Start
      variables: []
  - id: llm
    data:
      type: llm
      title: OpenAI
      model:
        provider: langgenius/openai/openai
        name: gpt-4o-mini
        mode: chat
        completion_params: {}
      prompt_template:
      - role: user
        text: "{{#sys.query#}}"
      context:
        enabled: false
        variable_selector: []
      vision:
        enabled: false
  - id: answer
    data:
      type: answer
      title: Answer
      answer: "{{#llm.text#}}"
  edges:
  - source: start
    target: llm
  - source: llm
    target: answer
