examples/chatflow_dsl_runner/chatflow_dsl_agent.yml
app:
  description: ''
  icon: heart_eyes
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Chatflow-Agent-Demo
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.0@beafb5a726eda839a1839f61a0456ae7e068c98624c53f59b07be9a71fbf72da
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 100
        batch_count_limit: 20
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 20
        single_chunk_attachment_limit: 10
        video_file_size_limit: 200
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1777208318154-llm
      source: '1777208318154'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: llm-source-1777208323342-target
      source: llm
      sourceHandle: source
      target: '1777208323342'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1777208323342-source-1777208328174-target
      source: '1777208323342'
      sourceHandle: source
      target: '1777208328174'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1777208318154'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: de7fac2d-db9a-473e-80c9-7fe5cf614c33
          role: system
          text: ''
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Response
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: Testing
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gpt-5.5
              model_type: llm
              provider: langgenius/openai/openai
              type: model-selector
          query:
            type: constant
            value: ''
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description:
              parameters:
                content:
                  auto: 1
                  value: null
                json_filter:
                  auto: 1
                  value: null
              provider_name: langgenius/json_process/json_process
              provider_show_name: langgenius/json_process/json_process
              settings:
                ensure_ascii:
                  value:
                    type: constant
                    value: true
              tool_description: A tool that parses JSON objects
              tool_label: JSON Parse
              tool_name: parse
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.37@a5dcc6ea00bca23439b49ff7d65704f3f5dd6ce2ca353205e62278e2148d84b6
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1777208323342'
      position:
        x: 680
        y: 424
      positionAbsolute:
        x: 680
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Agent
        selected: false
        title: Response 2
        type: answer
        variables: []
      height: 100
      id: '1777208328174'
      position:
        x: 982
        y: 424
      positionAbsolute:
        x: 982
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 296
      y: 484
      zoom: 1
  rag_pipeline_variables: []
